{% load staticfiles rev %}
<!DOCTYPE HTML>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" >
  <title>{% block title %}ng-boat - warsztaty z programowania dla wszystkich!{% endblock %}</title>
  <meta name="description" content="{% block description %}Ng-boat to lokalna, łódzka inicjatywa warsztatów z programowania dla zupełnie początkujących. Chcemy pokazać, że programowanie jest dla każdego bez względu na wykształcenie, wiek czy płeć{% endblock %}">
  <meta name="keywords" content="programming, front-end, angular, typescript, javascript">
  <link href="{% static 'img/favicon.ico' %}" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:title" content="{% block og_title %}Ng-boat to lokalna, łódzka inicjatywa warsztatów z programowania dla zupełnie początkujących{% endblock %}" />
  <meta property="og:type" content="website" />
  <meta property="og:description" content="{% block og_description %}Ng-boat to lokalna, łódzka inicjatywa warsztatów z programowania dla zupełnie początkujących. Chcemy pokazać, że programowanie jest dla każdego bez względu na wykształcenie, wiek czy płeć.{% endblock %}" />
  <meta property="og:image" content="{% block og_image %}https://raw.githubusercontent.com/https://github.com/ng-boat/ng-boat/blob/master/static/source/img/ngboat-small.png{% endblock %}" />

  {% block main_stylesheet %}<link rel="stylesheet" type="text/css" href="{% static_rev 'css/global.css' %}" media="screen">{% endblock %}
  {% block extra_css %}{% endblock %}

  <script type="text/javascript" src="{% static 'vendor/js/jquery.min.js' %}"></script>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
  <script type="text/javascript" src="{% static 'vendor/js/bootstrap.min.js' %}"></script>
  <script type="text/javascript" src="{% static 'vendor/js/sss.min.js' %}"></script>
  {% block extra_js %}{% endblock %}
</head>
<body>
    <div class="page-wrap">
        {% block menu %}
            {% include 'global/menu.html' %}
        {% endblock %}

        {% block content %}{% endblock %}
    </div>

    {% block footer %}
        {% include 'global/footer.html' %}
    {% endblock %}

    {% include 'includes/js.html' %}
</body>
</html>
