<footer>
    <div class="container">
        <p>ng-boat</p>
        <ul>
            <li><a href="{% url 'contact:contact' %}">Kontakt</a></li>
            <li><a href="{% url 'core:contribute' %}">Współpraca</a></li>
            <li><a href="http://facebook.com/ngboatpl">Facebook</a></li>
            <li><a href="http://instagram.com/ngboat">Instagram</a></li>
            <li><a href="{% url 'core:resources' %}">Materiały</a></li>
            <li><a href="{% url 'core:privacy-cookies' %}">Prywatność i ciasteczka</a></li>
        </ul>
    </div>
</footer>
