@import "_variables";

#box-with-picture {
  background: url('/static/img/photos/hero.jpg');
  background-size: cover;
  padding: 100px 0;

  .subheader {
    color: white;
    padding: 40px;

    h1 {
      margin-top: 0;
    }
    p {
      margin-bottom: 0;
      font-size: 18px;
    }
  }
}
#about {
  padding: 50px 0;
  background: url('/static/img/index/pattern.jpg');
}

#events {
  padding: 50px 0;
  background-color: @secondary;
  .social-canals {
    margin-top: 20px;
    a {
      color: @text;
      padding: 30px 20px;
      margin-left: -20px;

      &:hover {
        text-decoration: none;
      }

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    .icon {
      height: 50px;
      padding-right: 15px;
    }
  }
}

#events-after {
  height: 135px;
  background: url('/static/img/index/events.png');
}

#support {
  .support-img {
    max-width: 350px;
    width: 100%;
    margin: 0 auto;
  }
}

#about-us {
  background-color: @light;
  padding: 50px 0;
    .person {
      margin-top: 40px;

      img {
        margin-bottom: 30px;
      }
      h3 {
        margin-top: 0;
      }
  }
}
