{% extends 'global/base.html' %}
{% load staticfiles rev %}

{% block extra_js %}
    <script type="text/javascript" src="{% static_rev 'js/global.js' %}"></script>
{% endblock %}

{% block content %}

    <section id="box-with-picture">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7 subheader">
                    <h1>
                        Marzysz o karierze w IT?
                    </h1>
                    <p>
                        Chciałbyś zobaczyć jak wygląda praca programisty? Nie wiesz od czego zacząć naukę? Organizujemy darmowe warsztaty z programowania od podstaw <strong>dla wszystkich</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                  <img class="img-responsive" src="/static/img/ngboat-small.png" alt="ng-boat logo">
                </div>
                <div class="col-sm-9 col-md-8">
                    <h2>Czym jest ng-boat?</h2>
                    <p>
                        Organizujemy warsztaty z programowania, na których zbudujesz swoją pierwszą aplikację internetową w Angularze. Kilka zdań o projekcie więcej. Jakieś ikonki czy coś?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Pierwsze wydarzenie wkrótce
                    </h2>
                </div>
            </div>

            <div class="upcoming-events">
                <div class="row-container">
                    <p>
                      Ciężko pracujemy nad pierwszą edycją warsztatów! Bądź na bieżąco:
                    </p>
                    <div class="row social-canals">
                        <div class="col-xs-6">
                          <a href="{% url 'core:newsletter' %}">
                            <img class="icon"  alt="" src="/static/img/newsletter.png">
                            <span>Newsletter</span>
                          </a>
                        </div>
                        <div class="col-xs-6">
                          <a href="https://www.facebook.com/ngboatpl/">
                            <img class="icon"  alt="" src="/static/img/facebook.png">
                            <span>Facebook</span>
                          </a>
                        </div>
                    </div>
                    {#<div class="row">#}
                    {#{% for event in future_events %}#}
                    {#    {% include 'includes/_event.html' with event=event %}#}
                    {#    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}#}
                    {#{% endfor %}#}
                    {#</div>#}
                </div>
                {#<div class="show-more"><a href="javascript:;">Show all {{ future_events_count }} upcoming events »</a></div>#}
            </div>
        </div>
    </section>
    <div id="events-after"></div>

    {% include 'includes/_contribute.html' %}

    <section id="about-us">
        <div class="container">
            <h2>Kim jesteśmy?</h2>
            <div class="row">
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive support-img"  alt="" src="/static/img/us/marta.png">
                  </div>
                  <div class="col-sm-9">
                    <h3>Marta Matros</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Maecenas imperdiet, sem vitae
                      maximus condimentum, felis mauris egestas
                      sem, ut eleifend risus arcu ut nunc. Nunc
                      rutrum condimentum venenatis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive support-img"  alt="" src="/static/img/us/marta.png">
                  </div>
                  <div class="col-sm-9">
                    <h3>Marta Matros</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Maecenas imperdiet, sem vitae
                      maximus condimentum, felis mauris egestas
                      sem, ut eleifend risus arcu ut nunc. Nunc
                      rutrum condimentum venenatis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive support-img"  alt="" src="/static/img/us/marta.png">
                  </div>
                  <div class="col-sm-9">
                    <h3>Marta Matros</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Maecenas imperdiet, sem vitae
                      maximus condimentum, felis mauris egestas
                      sem, ut eleifend risus arcu ut nunc. Nunc
                      rutrum condimentum venenatis.
                    </p>
                  </div>
                </div>
              </div>
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive support-img"  alt="" src="/static/img/us/marta.png">
                  </div>
                  <div class="col-sm-9">
                    <h3>Marta Matros</h3>
                    <p>
                      Lorem ipsum dolor sit amet, consectetur
                      adipiscing elit. Maecenas imperdiet, sem vitae
                      maximus condimentum, felis mauris egestas
                      sem, ut eleifend risus arcu ut nunc. Nunc
                      rutrum condimentum venenatis.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    {% comment %}<section id="supporters">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>They already support us! 💕</h2>
                    <p>Those incredible companies made a pledge to diversity and are actively helping us to change the ratio in the tech industry. <br /> If you wish to join them, support us on <a href="https://www.patreon.com/djangogirls">Patreon</a> or <a href="{% url 'contact:contact' %}">drop us a line</a>.</p>
                </div>
            </div>

            {% include 'includes/_main_sponsors.html' %}

        </div>
    </section>{% endcomment %}


{% endblock %}
