{% extends 'global/base.html' %}
{% load staticfiles rev %}

{% block extra_js %}
    <script type="text/javascript" src="{% static_rev 'js/global.js' %}"></script>
{% endblock %}

{% block content %}

    <section id="box-with-picture">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-md-offset-7 subheader">
                    <h1>
                        Marzysz o karierze w IT?
                    </h1>
                    <p>
                        Chciałbyś zobaczyć jak wygląda praca programisty? Nie wiesz od czego zacząć naukę?
                        Organizujemy darmowe warsztaty z programowania od podstaw <strong>dla wszystkich</strong>.
                    </p>
                </div>
            </div>
        </div>
    </section>

    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-sm-3">
                  <img class="img-responsive" src="/static/img/ngboat-small.png" alt="ng-boat logo">
                </div>
                <div class="col-sm-9 col-md-8">
                    <h2>Czym jest ng-boat?</h2>
                    <p>
                        Organizujemy warsztaty z programowania, na których zbudujesz swoją pierwszą aplikację
                        internetową w Angularze.
                    </p>
                    <h3>Jednodniowe</h3>
                    <p>
                        No... prawie :) Pierwszego dnia spotykamy się, żeby się poznać i przygotować do pracy.
                        Właściwe warsztaty są następnego dnia, kiedy to od rana uczymy się programować,
                        uruchomić naszą pierwszą stronę, a jak się uda to ją opublikować!
                    </p>
                    <h3>Dla początkujących</h3>
                    <p>
                        Warszaty są dla <strong>wszystkich początkujących</strong>. Nie ważne czy jesteś dziewczyną,
                        chłopakiem, studentką czy masz 30 lat stażu. Liczy się chęć do nauki. W formularzu aplikacyjnym
                        będziemy pytać o to kim jesteś i czy umiesz programować. Chciałybyśmy nauczyć programowania
                        jak najwięcej osób, które nigdy tego wcześniej nie próbowały. Chcemy pokazać, że to nie jest
                        takie trudne i zarazić pasją jak najwięcej osób.
                    </p>
                    <h3>A co dla tych co już umieją?</h3>
                    <p>
                        Osoby, które już umieją programować zapraszamy do przerobienia tutoriala w domu. W razie problemów
                        czy pytań czekamy na <a href="https://www.facebook.com/groups/ngboat/">grupie facebookowej</a>.
                        Planujemy zrobić też luźniejsze spotkania powarsztatowe, aby osoby które były na warsztatach
                        lub nie dostały się na nie mogły się spotkać i wspólnie pouczyć.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <section id="events">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        Pierwsze wydarzenie wkrótce
                    </h2>
                </div>
            </div>

            <div class="upcoming-events">
                <div class="row-container">
                    <p>
                      Ciężko pracujemy nad pierwszą edycją warsztatów! Bądź na bieżąco:
                    </p>
                    <div class="row social-canals">
                        <div class="col-sm-4">
                          <a href="https://www.facebook.com/ngboatpl/">
                            <img class="icon"  alt="" src="/static/img/facebook.png">
                            <span>Facebook</span>
                          </a>
                        </div>
                        <div class="col-sm-4">
                          <a href="https://www.facebook.com/groups/ngboat/">
                            <img class="icon"  alt="" src="/static/img/facebook.png">
                            <span>Grupa na Facebooku</span>
                          </a>
                        </div>
                        <div class="col-sm-4">
                          <a href="https://www.instagram.com/ngboat/">
                            <img class="icon"  alt="" src="/static/img/instagram.png">
                            <span>Instagram</span>
                          </a>
                        </div>
                    </div>
                    {#<div class="row">#}
                    {#{% for event in future_events %}#}
                    {#    {% include 'includes/_event.html' with event=event %}#}
                    {#    {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}#}
                    {#{% endfor %}#}
                    {#</div>#}
                </div>
                {#<div class="show-more"><a href="javascript:;">Show all {{ future_events_count }} upcoming events »</a></div>#}
            </div>
        </div>
    </section>
    <div id="events-after"></div>

    {% include 'includes/_contribute.html' %}

    <section id="about-us">
        <div class="container">
            <h2>Kim jesteśmy?</h2>
            <div class="row">
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive support-img img-circle"  alt="" src="/static/img/us/marta.jpg">
                  </div>
                  <div class="col-sm-9">
                    <h3>Marta Matros</h3>
                    <p>
                      Studentka informatyki na Politechnice Łódzkiej, zawodowo od czterech lat zajmuje się
                      frontendem. Organizatorka wszystkich trzech edycji warsztatów Django Girls Łódź,
                      wolontariusz przy konferencjach takich jak DjangoCon, PyWaw Summit oraz Front-Trends.
                    </p>
                  </div>
                </div>
              </div>
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive img-circle support-img"  alt="" src="/static/img/us/aga.jpg">
                  </div>
                  <div class="col-sm-9">
                    <h3>Agnieszka Świecznik</h3>
                    <p>
                      Skończyła Informatykę na Politechnice Wrocławskiej, pracuje jako programistka od ponad 10 lat.
                      Prowadziła kilka razy warsztaty Django Girls, zorganizowała dwa Django Girls i jedno Rails Girls.
                      Zorganizowała i poprowadziła dwa razy 2-miesięczne programy stażowe Front-end Lab. Przez ponad rok
                      organizowała Geek Girls Carrots.
                    </p>
                  </div>
                </div>
              </div>
              <div class="person col-md-6">
                <div class="row">
                  <div class="col-sm-3">
                    <img class="img-responsive img-circle support-img"  alt="" src="/static/img/us/klaudia.jpeg">
                  </div>
                  <div class="col-sm-9">
                    <h3>Klaudia Greif</h3>
                    <p>
                      Absolwentka I stopnia Informatyki oraz obecna studentka Zarządzania na Politechnice Łódzkiej.
                      Od 4 lat pracuje w branży e-commerce, programuje, a coraz częściej zarządza projektami.
                      Współorganizatorka 3. edycji warsztatów Django Girls Łódź, wolontariuszka na konferencji
                      Front-Trends.
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </section>

    {% comment %}<section id="supporters">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h2>They already support us! 💕</h2>
                    <p>Those incredible companies made a pledge to diversity and are actively helping us to change the ratio in the tech industry. <br /> If you wish to join them, support us on <a href="https://www.patreon.com/djangogirls">Patreon</a> or <a href="{% url 'contact:contact' %}">drop us a line</a>.</p>
                </div>
            </div>

            {% include 'includes/_main_sponsors.html' %}

        </div>
    </section>{% endcomment %}


{% endblock %}
