{% extends 'global/base.html' %}
{% load static %}

{% block title %}Cookie and Privacy Policies of Django Girls Website{% endblock %}
{% block description %}This Policy applies to our use of any and all Data collected by us in relation to your use of the Site.
{% endblock %}

{% block content %}
<section id="textonly-pages" class="container">
      <h1 class="header-line"><strong>Prywatność i ciasteczka</strong></h1>
      <div class="lh166">
        <h2 class="pb-12"><strong>1. Informacje ogólne</strong></h2>
        <ol>
          <li>Niniejsza polityka dotyczy Serwisu www, funkcjonującego pod&nbsp;adresem url: <b>ng-boat.pl</b></li>
          <li>Operatorem serwisu oraz&nbsp;Administratorem danych osobowych jest: Agnieszka Świecznik </li>

          <li>Adres kontaktowy poczty elektronicznej operatora: kontakt@ng-boat.pl</li>

          <li>Operator jest Administratorem Twoich&nbsp;danych osobowych w&nbsp;odniesieniu do&nbsp;danych podanych dobrowolnie w&nbsp;Serwisie.</li>
          <li>Serwis wykorzystuje dane osobowe w&nbsp;następujących celach:</li>
          <ul><li>Prowadzenie newslettera</li>
          </ul>
          <li>Serwis realizuje funkcje pozyskiwania informacji o&nbsp;użytkownikach i&nbsp;ich zachowaniu w&nbsp;następujący sposób:
            <ol>
              <li>Poprzez dobrowolnie wprowadzone w&nbsp;formularzach dane, które zostają wprowadzone do&nbsp;systemów Operatora.</li>
              <li>Poprzez zapisywanie w&nbsp;urządzeniach końcowych plików cookie (tzw. „ciasteczka”).</li>
            </ol>
          </li>
        </ol>
        <h2 class="pb-12"><strong>2. Wybrane metody ochrony danych stosowane przez&nbsp;Operatora</strong></h2>
        <ol><li>Miejsca logowania i&nbsp;wprowadzania danych osobowych są chronione w&nbsp;warstwie transmisji (certyfikat SSL). Dzięki temu dane osobowe i&nbsp;dane logowania, wprowadzone na&nbsp;stronie, zostają zaszyfrowane w&nbsp;komputerze użytkownika i&nbsp;mogą być odczytane jedynie na&nbsp;docelowym serwerze.</li><li>Operator okresowo zmienia swoje hasła administracyjne.</li><li>W&nbsp;celu ochrony danych Operator regularnie wykonuje kopie bezpieczeństwa.</li><li>Istotnym elementem ochrony danych jest regularna aktualizacja wszelkiego oprogramowania, wykorzystywanego przez&nbsp;Operatora do&nbsp;przetwarzania danych osobowych, co w&nbsp;szczególności oznacza regularne aktualizacje komponentów programistycznych.</li>
        </ol>
        <h2 class="pb-12"><strong>3. Hosting</strong></h2>
        <ol>
          <li>Serwis jest hostowany (technicznie utrzymywany) na&nbsp;serwera operatora: https://www.mydevil.net/</li>
        </ol>
        <h2 class="pb-12"><strong>4. Twoje&nbsp;prawa i&nbsp;dodatkowe informacje o&nbsp;sposobie wykorzystania danych</strong></h2>
        <ol><li>W&nbsp;niektórych sytuacjach Administrator ma prawo przekazywać Twoje&nbsp;dane osobowe innym odbiorcom, jeśli będzie to&nbsp;niezbędne do&nbsp;wykonania zawartej z&nbsp;Tobą umowy lub do&nbsp;zrealizowania obowiązków ciążących na&nbsp;Administratorze. Dotyczy to&nbsp;takich grup odbiorców:<ul><li>osoby upoważnione przez&nbsp;nas, pracownicy i&nbsp;współprcownicy, którzy&nbsp;muszą mieć dostęp do&nbsp;danych osobowych w&nbsp;celu wykonywania swoich obowiązków,</li><li>firma hostingowa,</li><li>firmy obsługująca mailingi,</li><li>firmy obsługująca komunikaty SMS,</li><li>firmy, z&nbsp;którymi Administrator współpracuje w&nbsp;zakresie marketingu własnego,</li><li>kurierzy,</li><li>ubezpieczyciele,</li><li>kancelarie prawne i&nbsp;windykatorzy,</li><li>banki,</li><li>operatorzy płatności,</li><li>organy publiczne.</li></ul></li>
          <li>Twoje&nbsp;dane osobowe przetwarzane przez&nbsp;Administratora nie&nbsp;dłużej, niż jest to&nbsp;konieczne do&nbsp;wykonania związanych z&nbsp;nimi czynności określonych osobnymi przepisami (np.&nbsp;o&nbsp;prowadzeniu rachunkowości). W&nbsp;odniesieniu do&nbsp;danych marketingowych dane nie&nbsp;będą przetwarzane dłużej niż przez&nbsp;3 lata.</li>
          <li>Przysługuje Ci prawo żądania od&nbsp;Administratora:
            <ul>
              <li>dostępu do&nbsp;danych osobowych Ciebie dotyczących,</li>
              <li>ich sprostowania,</li>
              <li>usunięcia,</li>
              <li>ograniczenia przetwarzania,</li>
              <li>oraz&nbsp;przenoszenia danych.</li>
            </ul>
          </li>
          <li>Przysługuje Ci prawo do&nbsp;złożenia sprzeciwu w&nbsp;zakresie przetwarzania wskazanego w&nbsp;pkt 3.3 c) wobec przetwarzania danych osobowych w&nbsp;celu wykonania prawnie uzasadnionych interesów realizowanych przez&nbsp;Administratora, w&nbsp;tym profilowania, przy czym prawo sprzeciwu nie&nbsp;będzie mogło być wykonane w&nbsp;przypadku istnienia ważnych prawnie uzasadnionych podstaw do&nbsp;przetwarzania, nadrzędnych wobec Ciebie interesów, praw i&nbsp;wolności, w&nbsp;szczególności ustalenia, dochodzenia lub obrony roszczeń.</li>
          <li>Na&nbsp;działania Administratora przysługuje skarga do&nbsp;Prezesa Urzędu Ochrony Danych Osobowych, ul.&nbsp;Stawki 2, 00-193 Warszawa.</li>
          <li>Podanie danych osobowych jest dobrowolne, lecz&nbsp;niezbędne do&nbsp;obsługi Serwisu.</li>
          <li>W&nbsp;stosunku do&nbsp;Ciebie mogą być podejmowane czynności polegające na&nbsp;zautomatyzowanym podejmowaniu decyzji, w&nbsp;tym profilowaniu w&nbsp;celu świadczenia usług w&nbsp;ramach zawartej umowy oraz&nbsp;w&nbsp;celu prowadzenia przez&nbsp;Administratora marketingu bezpośredniego.</li>
          <li>Dane osobowe nie&nbsp;są przekazywane od&nbsp;krajów trzecich w&nbsp;rozumieniu przepisów o&nbsp;ochronie danych osobowych. Oznacza to, że&nbsp;nie&nbsp;przesyłamy ich poza teren Unii Europejskiej.</li></ol>
          <h2 class="pb-12"><strong>5. Informacje w&nbsp;formularzach</strong></h2>
          <ol>
            <li>Serwis zbiera informacje podane dobrowolnie przez&nbsp;użytkownika, w&nbsp;tym dane osobowe, o&nbsp;ile zostaną one podane.</li>
            <li>Serwis może zapisać informacje o&nbsp;parametrach połączenia (oznaczenie czasu, adres IP).</li>
            <li>Serwis, w&nbsp;niektórych wypadkach, może zapisać informację ułatwiającą powiązanie danych w&nbsp;formularzu z&nbsp;adresem e-mail użytkownika wypełniającego formularz. W&nbsp;takim wypadku adres e-mail użytkownika pojawia się wewnątrz adresu url strony zawierającej formularz.</li>
            <li>Dane podane w&nbsp;formularzu są przetwarzane w&nbsp;celu wynikającym z&nbsp;funkcji konkretnego formularza, np.&nbsp;w&nbsp;celu dokonania procesu obsługi zgłoszenia serwisowego lub kontaktu handlowego, rejestracji usług itp. Każdorazowo kontekst i&nbsp;opis formularza w&nbsp;czytelny sposób informuje, do&nbsp;czego on służy.</li>
          </ol>

          <h2 class="pb-12"><strong>6. Logi Administratora</strong></h2>
          <ol>
            <li>Informacje zachowaniu użytkowników w&nbsp;serwisie mogą podlegać logowaniu. Dane te są wykorzystywane w&nbsp;celu administrowania serwisem.</li>
          </ol><h2 class="pb-12"><strong>7. Istotne techniki marketingowe</strong></h2><ol><li>Operator stosuje analizę statystyczną ruchu na&nbsp;stronie, poprzez Google Analytics (Google Inc. z&nbsp;siedzibą w&nbsp;USA). Operator nie&nbsp;przekazuje do&nbsp;operatora tej&nbsp;usługi danych osobowych, a&nbsp;jedynie zanonimizowane informacje. Usługa bazuje na&nbsp;wykorzystaniu ciasteczek w&nbsp;urządzeniu końcowym użytkownika. W&nbsp;zakresie informacji o&nbsp;preferencjach użytkownika gromadzonych przez&nbsp;sieć reklamową Google użytkownik może przeglądać i&nbsp;edytować informacje wynikające z&nbsp;plików cookies przy pomocy narzędzia: https://www.google.com/ads/preferences/</li></ol>

          <h2 class="pb-12"><strong>8. Informacja o&nbsp;plikach cookies</strong></h2>
          <ol>
            <li>Serwis korzysta z&nbsp;plików cookies.</li>
            <li>Pliki cookies (tzw. „ciasteczka”) stanowią dane informatyczne, w&nbsp;szczególności pliki tekstowe, które przechowywane są w&nbsp;urządzeniu końcowym Użytkownika Serwisu i&nbsp;przeznaczone są do&nbsp;korzystania ze&nbsp;stron internetowych Serwisu. Cookies zazwyczaj zawierają nazwę strony internetowej, z&nbsp;której&nbsp;pochodzą, czas przechowywania ich na&nbsp;urządzeniu końcowym oraz&nbsp;unikalny numer.</li>
            <li>Podmiotem zamieszczającym na&nbsp;urządzeniu końcowym Użytkownika Serwisu pliki cookies oraz&nbsp;uzyskującym do&nbsp;nich dostęp jest operator Serwisu.</li>
            <li>Pliki cookies wykorzystywane są w&nbsp;następujących celach:
              <ol>
                <li>utrzymanie sesji użytkownika Serwisu (po&nbsp;zalogowaniu), dzięki której&nbsp;użytkownik nie&nbsp;musi na&nbsp;każdej podstronie Serwisu ponownie wpisywać loginu i&nbsp;hasła;</li>
                <li>realizacji celów określonych powyżej w&nbsp;części "Istotne techniki marketingowe";</li>
              </ol>
            </li>
            <li>W&nbsp;ramach Serwisu stosowane są dwa zasadnicze rodzaje plików cookies: „sesyjne” (session cookies) oraz&nbsp;„stałe” (persistent cookies). Cookies „sesyjne” są plikami tymczasowymi, które przechowywane są w&nbsp;urządzeniu końcowym Użytkownika do&nbsp;czasu wylogowania, opuszczenia strony internetowej lub wyłączenia oprogramowania (przeglądarki internetowej). „Stałe” pliki cookies przechowywane są w&nbsp;urządzeniu końcowym Użytkownika przez&nbsp;czas określony w&nbsp;parametrach plików cookies lub do&nbsp;czasu ich usunięcia przez&nbsp;Użytkownika.</li>
            <li>Oprogramowanie do&nbsp;przeglądania stron internetowych (przeglądarka internetowa) zazwyczaj domyślnie dopuszcza przechowywanie plików cookies w&nbsp;urządzeniu końcowym Użytkownika. Użytkownicy Serwisu mogą dokonać zmiany ustawień w&nbsp;tym zakresie.&nbsp;Przeglądarka internetowa umożliwia usunięcie plików cookies. Możliwe jest także automatyczne blokowanie plików cookies Szczegółowe informacje na&nbsp;ten temat zawiera pomoc lub dokumentacja przeglądarki internetowej.</li>
            <li>Ograniczenia stosowania plików cookies mogą wpłynąć na&nbsp;niektóre funkcjonalności dostępne na&nbsp;stronach internetowych Serwisu.</li>
            <li>Pliki cookies zamieszczane w&nbsp;urządzeniu końcowym Użytkownika Serwisu wykorzystywane mogą być również przez&nbsp;współpracujące z&nbsp;operatorem Serwisu podmioty, w&nbsp;szczególności dotyczy to&nbsp;firm: Google (Google Inc. z&nbsp;siedzibą w&nbsp;USA), Facebook (Facebook Inc. z&nbsp;siedzibą w&nbsp;USA), Twitter (Twitter Inc. z&nbsp;siedzibą w&nbsp;USA).</li>
          </ol>
          <h2 class="pb-12"><strong>9. Zarządzanie plikami cookies – jak w&nbsp;praktyce wyrażać i&nbsp;cofać zgodę?</strong></h2>
          <ol>
            <li>Jeśli użytkownik nie&nbsp;chce otrzymywać plików cookies, może zmienić ustawienia przeglądarki. Zastrzegamy, że&nbsp;wyłączenie obsługi plików cookies niezbędnych dla procesów uwierzytelniania, bezpieczeństwa, utrzymania preferencji użytkownika może utrudnić,&nbsp;a&nbsp;w&nbsp;skrajnych przypadkach może uniemożliwić korzystanie ze&nbsp;stron www</li>
            <li>W&nbsp;celu zarządzania ustawienia cookies wybierz z&nbsp;listy poniżej przeglądarkę internetową, której&nbsp;używasz i&nbsp;postępuj zgodnie z&nbsp;instrukcjami:
              <ul>
                <li><a href="https://support.microsoft.com/pl-pl/help/10607/microsoft-edge-view-delete-browser-history">Edge</a></li>
                <li><a href="https://support.microsoft.com/pl-pl/help/278835/how-to-delete-cookie-files-in-internet-explorer">Internet Explorer</a></li>
                <li><a href="http://support.google.com/chrome/bin/answer.py?hl=pl&amp;answer=95647">Chrome</a></li>
                <li><a href="http://support.apple.com/kb/PH5042">Safari</a></li>
                <li><a href="http://support.mozilla.org/pl/kb/W%C5%82%C4%85czanie%20i%20wy%C5%82%C4%85czanie%20obs%C5%82ugi%20ciasteczek">Firefox</a></li>
                <li><a href="http://help.opera.com/Windows/12.10/pl/cookies.html">Opera</a></li>
              </ul>
              <p>Urządzenia mobilne:</p>
              <ul>
                <li><a href="http://support.google.com/chrome/bin/answer.py?hl=pl&amp;answer=95647">Android</a></li>
                <li><a href="http://support.apple.com/kb/HT1677?viewlocale=pl_PL">Safari (iOS)</a></li>
                <li><a href="http://www.windowsphone.com/pl-pl/how-to/wp7/web/changing-privacy-and-other-browser-settings">Windows Phone</a></li>
              </ul>
            </li>
          </ol>
    </section>
    {% endblock %}
