{% extends 'global/base.html' %}
{% load static %}

{% block content %}

    <div class="container">

        <section id="resources">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="header-line">Materiały</h1>
                    <p>
                        Utworzone przez nas materiały są opublikowane na licencji Creative Commons Attribution 4.0 International (CC BY 4). Oznacza to, że
                        możecie je modyfikować, publikować i używać komercyjnie, pod warunkiem że podacie autora wykorzystanych treści.
                        <a href="https://creativecommons.org/licenses/by/4.0/deed.pl">Więcej informacji znajdziecie na stronie Creative Commons</a>.
                    </p>
                </div>
            </div>



            <div class="row clearfix">
                <div class="col-md-12">
                    <h3>Tutorial</h3>
                    <div class="info">
                      <p>Pracujemy nad tutorialem, który będzie obejmować wprowadzenie do typescript, angulara, HTML i CSS. Jeśli lubisz pisać, znasz którąś z wymienionych technologii i chciałbyś nam pomóc - daj nam znać :)</p>
                      <p>Na razie zachęcamy do zerknięcia na inne tutoriale:</p>
                      <ul>
                          <li><a href="https://angular.io/tutorial">Oficjalny tutorial angulara</a></li>
                          <li><a href="https://djangogirls.org/resources/">Tutoriale napisane przez Django Girls</a></li>
                      </ul>
                    </div>
                </div>
            </div>

        </section>

    </div>

{% endblock %}
