{% extends 'global/base.html' %}
{% block title %}Django Girls Contact{% endblock %}

{% block content %}
  <div class="container public-form" id="flatpage">
    <div id="value" class="row">
      <div class="col-md-12">
        <h1 class="header-line">Kontakt</h1>

        <p>Cześć! Co u ciebie słychać? Napisz na <a href="mailto:kontakt@ng-boat.pl">kontakt@ng-boat.pl</a> albo skorzystaj z formularza poniżej.</p>

        <div class="row">
          <div class="col-sm-6 hidden-xs">
            <img class="img-responsive"  alt="" src="/static/img/photos/contact.jpg">
          </div>
          <div class="col-sm-6 col-md-4">
            {% include 'includes/_info_messages.html' %}

            <form action="" method="post" class="contact-form">
              {% csrf_token %}

                  {% include 'includes/_field.html' with field=form.name %}
                  {% include 'includes/_field.html' with field=form.email %}
                  {% include 'includes/_field.html' with field=form.message %}

                  {% include 'includes/_field.html' with field=form.captcha %}

              <input type="submit" value="Send"/>
            </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
